#settings {
    padding: 20px;
}

input[type="text"], input[type="submit"], select {
    box-sizing: border-box;
    color: #a88438;
    border: 2px solid #a88438;
    background-color: transparent;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    display: block;
    width: 500px;
    max-width: 75%;
}