html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #a88438;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #744d19;
    background-position: center center;
    background-image: url("background.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#app {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#header {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px;
}

#logo {
    height: 150px;
    width: 150px;
    flex-grow: 0;
    background-image: url("aperture_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

#aperture-logo {
    height: 150px;
    width: 100%;
    background-image: url("aperture_logo_full.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#accel-canvas-container {
    overflow: hidden;
    position: relative;
    height: 150px;
    border: 1px solid #744d19;
    background-color: #4b3317;
    flex-grow: 1;
}

#accel-canvas {
    position: absolute;
}

#accel-values {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

#log {
    overflow-y: auto;
    margin: 25px;
    flex-grow: 1;
}

#override-button {
    width: 100%;
}

#manual-controls input {
    display: inline-block;
    width: 45%;
}

.manual-button-container {
    display: flex;
    justify-content: space-between;
}